*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--almost-white);
}

.sb-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2000px;
  flex-wrap: wrap;
}

.hidden {
  display: none !important;
}

.simple-box-shadow {
  filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.14));
}

.main-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.section-margin-below {
  margin-bottom: 2.5rem;
}

.divider {
  width: 100%;
  border: solid 1px var(--almost-black);
}
